
/*aplico mixin*/
@mixin tamaños ($width, $height) {
    width: $width;
    height: $height;
}

.galeria-tienda-container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 50px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    
}

.main-galeria-tienda img {
    @include tamaños (100%, 200px);
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    
}

.galeria-tienda-container p {
    margin-bottom: auto;
}

.comprar-btn {
    border: 2px solid $azulvikingo;
    color: $azulvikingo;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
  
    &:hover {
      background-color: $azulvikingo;
      color: white;
    }
  
  }

.descripcion {
    margin-top: 10px;
  }

.titulo-tienda {
    display: flex;
    justify-content: center;
}




