.titulo-contacto {
    display: flex;
    justify-content: center;
}

/*fieldset {
    padding: 30px;
    width: 30%;
    margin-bottom: 80px ;
}

.formulario-container {
    display: flex;
    justify-content: center;
}
*/

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #e6e1e1;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    padding: 2%;
}

.col-sm-10 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-check {
    margin-left: 2%;
}

.boton-enviar {
    margin-left: 30%;
    margin-right: 30%;
}