.titulo-contacto {
    display: flex;
    justify-content: center;
}

fieldset {
    padding: 30px;
    width: 30%;
    margin-bottom: 80px ;
}

.formulario-container {
    display: flex;
    justify-content: center;
}