
@mixin tamaños ($width, $height){
    width: $width;
    height: height;
}


.main-container {
        margin-top: 20px;

    .nosotros-container {
        display: flex;
        flex-direction: row-reverse;

    }
    .media-container {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 25px;
    }
   

    .txt-main {
        text-align: center;
        padding: 30px;
     }
     
     .txt-index {
        text-align: center;
        padding: 40px;
        padding-top: 10px;

     }
}

footer { 
    padding: 20px;
    color: white;
    background-color: $azulvikingo; 

    .imagenes-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .imagenes-footer img {
        @include tamaños (30px, 30px);
    }
}
