.titulo-seguimiento {
    display: flex;
    justify-content: center;
}


.links-seguimiento {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}