/*estilo general*/
/*variables*/
/*aplico mixin*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,500;1,700&display=swap");
main .txt-main {
  text-align: center;
  padding: 30px;
}
main .txt-index {
  text-align: center;
  padding: 40px;
}

footer {
  padding: 20px;
  color: white;
  background-color: rgb(0, 8, 55);
}
footer .imagenes-footer {
  display: flex;
  justify-content: space-evenly;
}
footer .imagenes-footer img {
  width: 30px;
  height: height;
}

/*aplico mixin*/
.galeria-tienda-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 3fr);
  grid-row-gap: 50px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.main-galeria-tienda img {
  width: 200px;
  height: 200px;
}

.titulo-tienda {
  display: flex;
  justify-content: center;
}

/*aplico mixin*/
.titulo-utileria {
  display: flex;
  justify-content: center;
}

.main-galeria-utileria img {
  width: 200px;
  height: 200px;
}

.galeria-utileria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 50px;
}

.dhl-container, .andreani-container, .mercado-libre-container, .correo-argentino-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
}

.links-container img {
  width: 300px;
  height: 180px;
}

input[type=submit] {
  background-color: rgb(0, 8, 55);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(79, 101, 230);
}

.titulo-contacto {
  display: flex;
  justify-content: center;
}

fieldset {
  padding: 30px;
  width: 30%;
  margin-bottom: 80px;
}

.formulario-container {
  display: flex;
  justify-content: center;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Prompt";
}

.nombredepagina {
  color: white;
  display: flex;
  margin: auto;
  font-family: Prompt;
}

h1 {
  margin-top: 20px;
}

body {
  background-color: rgb(246, 246, 248);
  color: rgb(0, 8, 55);
  font-family: Prompt;
}

#header-principal {
  background-color: rgb(0, 8, 55);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#header-principal .menu-nav {
  padding: 1px;
  display: flex;
  align-items: center;
  text-align: center;
}
#header-principal ul {
  display: flex;
}
#header-principal ul li {
  list-style: none;
  margin: 3px;
}
#header-principal ul li a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 490px) {
  #header-principal {
    flex-direction: column;
    align-items: center;
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin: auto;
  }
  /*camisetas de tienda */
  .galeria-tienda-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 2fr);
  }
  /* camisetas utileria */
  .galeria-utileria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  /* seguimiento */
  .links-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin-bottom: 300px;
  }
}
@media only screen and (max-width: 576px) {
  /* estilos generales*/
  #header-principal {
    flex-direction: column;
    align-items: center;
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin: auto;
  }
  /*camisetas de tienda */
  .galeria-tienda-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 2fr);
  }
  /* camisetas utileria */
  .galeria-utileria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  /* seguimiento */
  .links-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 500px;
  }
}/*# sourceMappingURL=style.css.map */