$azulvikingo: rgb(0, 8, 55);



@import "index";

@import "camisetasdetienda";

@import "utileria";

@import "seguimiento";

@import "contacto";



@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Prompt';
}


h1 {
    margin-top: 20px;
}


body { 
    background-color: rgb(246, 246, 248);
    color: $azulvikingo;
    font-family: Prompt;
   
    
}


#header-principal { 
    
    background-color: $azulvikingo;
    display: flex;
    justify-content: space-between;
    
}

.navbar-brand {
    display: flex;
    align-items: flex-end;
    
}

.nombre-logo {
  padding: 0px;
    margin: 0px;
    margin-left: 0px;
    font-family: "Prompt";
    color: white;
    background-color: $azulvikingo;
}



.navbar-toggler {
  background-color: #f3f2eb;
}

.bg-light {
  background-color: $azulvikingo 
}





@media only screen and (max-width: 420px) {

  .navbar-brand {
    display: flex;
    align-items: center;
    flex-direction: column;
  }



  footer {
    padding-top: 30px;
  }
  

  .galeria-tienda-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }


  .galeria-utileria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }

    .formulario {
      margin-right: 15%;
 
  }

  }
  

  @media only screen and (min-width: 420px) and (max-width: 576px) {
      

      .navbar-brand{
        margin-right: 1.5px;
      }

    
      footer {
        padding-top: 30px;
        
      }
      
      .galeria-tienda-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }
      
      .galeria-utileria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }
    
      
      .links-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;

      }
        
      }






    
  


     








  

