
/*estilo general*/

/*variables*/
$azulvikingo: rgb(0 8 55);

@import "index";
@import "camisetasdetienda";
@import "utileria";
@import "seguimiento";
@import "contacto";




@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,500;1,700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Prompt';
}

.nombredepagina {
    color: white;
    display: flex;
    margin: auto;    
}

h1 {
    margin-top: 20px;
}


body { 
    background-color: rgb(246, 246, 248);
    color: $azulvikingo;
    
}


#header-principal { 
    
    background-color: $azulvikingo;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    .menu-nav {  
        padding: 1px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    ul {
        display: flex;    
      }
      ul li {
        list-style: none;
        margin: 3px;
        
    }
    ul li a {
        color: white;
        text-decoration: none;
    }
}


/*xsmall*/
@media only screen and (max-width: 440px) {

    #header-principal {
        flex-direction: column; 
        align-items: center; 
        
      }

      .logo-container {
        display: flex;
        align-items: center;
        margin: auto;
    }
  
}

 @media only screen and (max-width: 490px) {

    #header-principal {
        flex-direction: column; 
        align-items: center; 
        
      }

      .logo-container {
        display: flex;
        align-items: center;
        margin: auto;
      }

      /*camisetas de tienda */

    .galeria-tienda-container {
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 6, 2fr);
    }

    /* camisetas utileria */

    .galeria-utileria {
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 3, 1fr);
    }

    /* seguimiento */

    .links-seguimiento a {
        display: grid; 
        justify-items: center;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 1, 1fr);
        width: 250px;
        height: 250px;
}




 }

    
  

  @media only screen and (max-width: 576px) {
    /* estilos generales*/

    #header-principal {
      flex-direction: column; 
      align-items: center; 
      
    }

    .logo-container {
        display: flex;
        align-items: center;
        margin: auto;
    }

    /*camisetas de tienda */

    .galeria-tienda-container {
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 6, 2fr);
    }

    /* camisetas utileria */

    .galeria-utileria {
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 3, 1fr);
    }

    /* seguimiento */

    .links-seguimiento {
        display: grid; 
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat( 3, 1fr);
    }
  }
     








  

