/*aplico mixin*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,500;1,700&display=swap");
main .txt-main {
  text-align: center;
  padding: 30px;
}
main .txt-index {
  text-align: center;
  padding: 40px;
}

footer {
  padding: 20px;
  color: white;
  background-color: rgb(0, 8, 55);
}
footer .imagenes-footer {
  display: flex;
  justify-content: space-evenly;
}
footer .imagenes-footer img {
  width: 30px;
  height: height;
}

/*aplico mixin*/
.galeria-tienda-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 50px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 14px;
}

.main-galeria-tienda img {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.galeria-tienda-container p {
  margin-bottom: auto;
}

.titulo-tienda {
  display: flex;
  justify-content: center;
}

/*aplico mixin*/
.titulo-utileria {
  display: flex;
  justify-content: center;
}

.main-galeria-utileria img {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.galeria-utileria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 14px;
}

.galeria-utileria p {
  margin-bottom: auto;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.dhl-container, .andreani-container, .mercado-libre-container, .correo-argentino-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
}

.links-container img {
  width: 300px;
  height: 180px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

input[type=submit] {
  border: 2px solid rgb(0, 8, 55);
  color: rgb(0, 8, 55);
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
  background-color: rgb(0, 8, 55);
  color: white;
}

.titulo-contacto {
  display: flex;
  justify-content: center;
}

/*fieldset {
    padding: 30px;
    width: 30%;
    margin-bottom: 80px ;
}

.formulario-container {
    display: flex;
    justify-content: center;
}
*/
.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.col-sm-10 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.form-check {
  margin-left: 2%;
}

.boton-enviar {
  margin-left: 30%;
  margin-right: 30%;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Prompt";
}

h1 {
  margin-top: 20px;
}

body {
  background-color: rgb(246, 246, 248);
  color: rgb(0, 8, 55);
  font-family: Prompt;
}

#header-principal {
  background-color: rgb(0, 8, 55);
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: flex-end;
}

.nombre-logo {
  padding: 0px;
  margin: 0px;
  margin-left: 1.5px;
  font-family: "Prompt";
  color: white;
  background-color: rgb(0, 8, 55);
}

.navbar-toggler {
  background-color: #f3f2eb;
}

.bg-light {
  background-color: rgb(0, 8, 55);
}

.comprar-btn {
  border: 2px solid rgb(0, 8, 55);
  color: rgb(0, 8, 55);
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.comprar-btn:hover {
  background-color: rgb(0, 8, 55);
  color: white;
}

@media only screen and (max-width: 420px) {
  footer {
    padding-top: 30px;
  }
  /*camisetas de tienda */
  .galeria-tienda-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  /* camisetas utileria */
  .galeria-utileria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  /* seguimiento */
  .links-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 420px) and (max-width: 576px) {
  /* estilos generales*/
  footer {
    padding-top: 30px;
  }
  /*camisetas de tienda */
  .galeria-tienda-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  /* camisetas utileria */
  .galeria-utileria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  /* seguimiento */
  .links-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */